<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.tgb.mapper.S_tablesMapper">
	
	<insert id="save" parameterType="S_tables">
		<selectKey resultType="integer" order="AFTER" keyProperty="s_tables_id">
			select seq_s_tables.currval from dual		
		</selectKey>
		insert into tt_s_tables(s_tables_id,c_name,e_name,subject_id) values(seq_s_tables.nextval,#{c_name},#{e_name},#{subject_id})
	</insert>
	
	<update id="update" parameterType="S_tables">
		update tt_s_tables set c_name=#{c_name},e_name=#{e_name},subject_id=#{subject_id}  where s_tables_id=#{s_tables_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from tt_s_tables where s_tables_id=#{s_tables_id}
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findById" parameterType="int" resultType="S_tables">
		select s_tables_id,c_name,e_name,subject_id from tt_s_tables where s_tables_id=#{s_tables_id}
	</select>
	
	<select id="findAll" resultType="S_tables">
		select s_tables_id,c_name,e_name,subject_id from tt_s_tables
	</select>
	
</mapper>