<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	namespace：必须与对应的接口全类名一致
	id:必须与对应接口的某个对应的方法名一致
	
 -->
<mapper namespace="com.tgb.mapper.Where_colMapper">



	<insert id="save" parameterType="Where_col">
		insert into tt_where_col(where_col_id,s_tables_id,e_name,c_name,include_col_id,col_c_name,col_e_name,col_e_name_alias,subject_id) values(seq_where_col.nextval,#{s_tables_id},#{e_name},#{c_name},#{include_col_id},#{col_c_name},#{col_e_name},#{col_e_name_alias},#{subject_id})
	</insert>
	
	<update id="update" parameterType="Where_col">
		update tt_where_col set s_tables_id=#{s_tables_id},e_name=#{e_name},c_name=#{c_name},include_col_id=#{include_col_id},col_c_name=#{col_c_name},col_e_name=#{col_e_name},col_e_name_alias=#{col_e_name_alias},subject_id=#{subject_id}  where where_col_id=#{where_col_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from tt_where_col where where_col_id=#{where_col_id}
	</delete>
	
	 <!-- mybsits_config中配置的alias类别名,也可直接配置resultType为类路劲 -->  
	<select id="findById" parameterType="int" resultType="Where_col">
		select where_col_id,s_tables_id,e_name,c_name,include_col_id,col_c_name,col_e_name,col_e_name_alias,subject_id from tt_where_col where where_col_id=#{where_col_id}
	</select>
	
	<select id="findAll" resultType="Where_col">
		select where_col_id,s_tables_id,e_name,c_name,include_col_id,col_c_name,col_e_name,col_e_name_alias,subject_id from tt_where_col
	</select>
	
	
	
</mapper>